body {
    padding: 40px 20vw 20px;
    background-color: #DDD;
    color: #333;
    font-family: monospace;
}

p, a, li {
    font-size: 1.2em;
}

figcaption {
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
}

img {
    width: 100%;
}
